<<<<<<< HEAD

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

>>>>>>> 78b24c6 (first commit)
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
<<<<<<< HEAD
  font-family: outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
=======
  font-family: Outfit; 
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

>>>>>>> 78b24c6 (first commit)
a{
  text-decoration: none;
  color: inherit;
}
<<<<<<< HEAD
.app{
  width: 80%;
  margin: auto;
}
@keyframes fadeIn {
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
  
}
=======

hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cursor{
  cursor: pointer;
}
>>>>>>> 78b24c6 (first commit)
